$font-family-sans-serif: 'Lora', serif;
$primary: #004A7C;
$secondary: #005691;
$tercero: #f8f9fa;
$cuarto: #FAFAFA;
$blanco: #fff;



@import "componentes/Ciclos";
@import "componentes/index";
@import "componentes/indexMoniciones";
@import "componentes/layouts";
@import "componentes/mixinsBotones";
@import "componentes/nosotros";
@import "../node_modules/bootstrap/scss/bootstrap";