<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Moniciones Litúrgicas</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Moniciones, Monicion de Entrada, Monicion de la Palabra, Liturgia, Liturgia Cotidiana, Oración de los Fieles, Oracion Universal">
    <meta name="description" content="Moniciones liturgicas gratis online">
    <meta name="author" content="guillermo veron fernandez">
		<meta name="robots" content="index">
		<link rel="icon" href="/images/icon.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- FONT AWESOME -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<!-- FONT LORA -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head> 
  <body>
  <header>
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/images/Logo.svg" alt="Moniciones Litúrgicas" title="Moniciones Litúrgicas" class="logo">
              Moniciones Litúrgicas
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ciclos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/moniciones/ciclo/A?santo=Mateo">Ciclo A</a></li>
                  <li><a class="dropdown-item" href="/moniciones/ciclo/B?santo=Marcos">Ciclo B</a></li>
                  <li><a class="dropdown-item" href="/moniciones/ciclo/C?santo=Lucas">Ciclo C</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/moniciones">Moniciones</a></li>
                </ul>
              </li>
              <li class="nav-item" id="ctn-icon-search">
                <button class="btn btn-outline-primary" id="icon-search" type="button"><b>Buscar <i class="fas fa-search" ></i></b></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <div id="ctn-bars-search">
    <input type="text" id="inputSearch" placeholder="¿Cuál es la Monición que estas Buscando? (Inserta el Día, Semana o Festividad)">
  </div>
  
  <ul id="box-search"></ul>
  
  <div id="cover-ctn-search">
    
  </div>
  
    <div class="container-xxl">



    