<section class="social">
    <p class="contactanos">Contáctanos</p>
        <div class="links">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto: monicionesliturgicas@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
</section>