<%- include ./layouts/cabecera.ejs %> 
<br>
<h2>Monicion del Día <p id="fecha"></p></h2>
<script type="text/javascript">

  var d = new Date();
  
  document.write('Fecha: '+d.getDate(),'<br>Dia de la semana: '+d.getDay(),'<br>Mes (0 al 11): '+d.getMonth(),'<br>Año:'+d.getFullYear(),'<br>Hora:'+d.getHours(),'<br>HoraUTC: '+d.getUTCHours(),'<br>Minutos: '+d.getMinutes(),'<br>Segundos: '+d.getSeconds());
  
</script>
<script type="text/javascript">
  var fecha = new Date(); 
  
  var dia = fecha.getDay();

  var semana0 = "Hoy es domingo " + " de " + fecha.getMonth() + " del " + fecha.getFullYear(); 
  var semana1 = "Hoy es lunes "; 
  var semana2 = "Hoy es martes "; 
  var semana3 = "Hoy es miércoles "; 
  var semana4 = "Hoy es jueves "; 
  var semana5 = "Hoy es viernes " + "de" + fecha.getMonth() + "del" + fecha.getFullYear(); 
  var semana6 = "Hoy es sábado "; 
  
  alert( eval("semana" + dia) );
  </script>

<!-- SHOWCASE - Monicion del Dia-->
<header class="showcase">
  <div id="monicionDelDia"></div>	
</header>


<h2>Moniciones Diarias</h2>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="semanal"id="carousel1"></div>
    </div>
    <div class="carousel-item">
      <div class="semanal"id="carousel2"></div>
    </div>
    <div class="carousel-item">
      <div class="semanal"id="carousel3"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<h2>Monicion Especial</h2>
  <section class="banner-one">
    <div class="container-lg" id="monicionFestividadPatronal"></div>	
  </section>

<h2>Moniciones Dominicales</h2>
    <div class="card-group">
      <div class="card">
        <div class="dominical" id="mDominical1"></div>
      </div>
      <div class="card">
        <div class="dominical" id="mDominical2"></div>
      </div>
      <div class="card">
        <div class="dominical" id="mDominical3"></div>
      </div>
    </div>

<br>
<h2>Monicion Mariana</h2>
  <section class="banner-two" >
    <div class="container-lg" id="monicionFestividadMariana"></div>
  </section>


<script>

let dia = new Date();
document.write(dia.getDate());



  function cargarMonicionDelDia(id){
    fetch(`http://localhost:7000/api/moniciones/${id}`, {method: 'GET'})
        .then(respuesta =>{return respuesta.json()})//indicamos el formato en que se desea obtener la informacion
        .then(monicion => {
            //console.log(monicion);
            const row = document.createElement("tr");
                let monicionAMostrar = document.querySelector('#monicionDelDia');
                row.innerHTML += `
                  <h4>${monicion[0].titulo} ${monicion[0].dia} de la Semana ${monicion[0].semana} del tiempo ${monicion[0].tiempo}</h4>
                    <p><b>Ciclo: </b>${monicion[0].ciclo}</p>
                    <h5>Monición de Entrada</h5>
                    <p>${monicion[0].entrada}</p>
                    <h5>Monición de las Lecturas</h5>
                      <p>${monicion[0].lecturas}</p>
                      <h5>Oración Universal</h5>
                      <p>A cada intención respondemos: <b>${monicion[0].respuestaOracionUniversal}</b><br></p>
                    <a class="btn btn-primary" id="boton${monicion[0].id}" onclick="cerrar('boton${monicion[0].id}');mostrar('flotante${monicion[0].id}')" >Leer más   <i class="fas fa-book-reader"></i></a>
                    <div class="flotantes" id="flotante${monicion[0].id}">
                      <ol>
                          <li>${monicion[0].oracionUniversal1} <b>Oremos.</b></li>
                          <li>${monicion[0].oracionUniversal2} <b>Oremos.</b></li>
                          <li>${monicion[0].oracionUniversal3} <b>Oremos.</b></li>
                          <li>${monicion[0].oracionUniversal4} <b>Oremos.</b></li>
                          <li>${monicion[0].oracionUniversal5} <b>Oremos.</b></li>
                      </ol>
                      <h5>Presentación de las Ofrendas</h5>
                      <p>${monicion[0].presentacionDeLasOfrendas}</p>
                      <h5>Monición Antes de la Comunión</h5>
                      <p>${monicion[0].comunion}</p>
                      <h5>Monición de Despedida</h5>
                      <p>${monicion[0].despedida}</p>
                      <a class="btn btn-primary" onclick="mostrar('boton${monicion[0].id}');cerrar('flotante${monicion[0].id}')">Cerrar  <i class="far fa-times-circle"></i></a>
                    </div>
                  `;
                  monicionAMostrar.appendChild(row);
        })
        .catch(error => console.log("Hubo un Error: " + error.message))
}
cargarMonicionDelDia('6');

function cargarMonicionElegida(id, idSelector){
    fetch(`http://localhost:7000/api/moniciones/${id}`, {method: 'GET'})
        .then(respuesta => {return respuesta.json()})//indicamos el formato en que se desea obtener la informacion
        .then(monicion => {
            const row = document.createElement("tr");
            let monicionAMostrar = document.querySelector(idSelector);
            row.innerHTML += `
              <h4>${monicion[0].titulo} ${monicion[0].dia} de la Semana ${monicion[0].semana}</h4>
                <p><b>Ciclo:</b> ${monicion[0].ciclo} - <b>Tiempo:</b> ${monicion[0].tiempo}</p>
                <h5>Monición de Entrada</h5>
                    <p>${monicion[0].entrada}</p>
                <a class="btn btn-primary m-3" id="boton${monicion[0].id}" onclick="cerrar('boton${monicion[0].id}');mostrar('flotante${monicion[0].id}')" >Leer más <i class="fas fa-book-reader"></i></a>
                <div class="flotantes" id="flotante${monicion[0].id}">
                    <h5>Monición de las Lecturas</h5>
                    <p>${monicion[0].lecturas}</p>
                    <h5>Oración Universal</h5>
                    <p>A cada intención respondemos: <b>${monicion[0].respuestaOracionUniversal}</b><br></p>
                    <ol>
                        <li>${monicion[0].oracionUniversal1} <b>Oremos.</b></li>
                        <li>${monicion[0].oracionUniversal2} <b>Oremos.</b></li>
                        <li>${monicion[0].oracionUniversal3} <b>Oremos.</b></li>
                        <li>${monicion[0].oracionUniversal4} <b>Oremos.</b></li>
                        <li>${monicion[0].oracionUniversal5} <b>Oremos.</b></li>
                    </ol>
                    <h5>Presentación de las Ofrendas</h5>
                    <p>${monicion[0].presentacionDeLasOfrendas}</p>
                    <h5>Monición Antes de la Comunión</h5>
                    <p>${monicion[0].comunion}</p>
                    <h5>Monición de Despedida</h5>
                    <p>${monicion[0].despedida}</p>
                    <a class="btn btn-primary m-2" onclick="mostrar('boton${monicion[0].id}');cerrar('flotante${monicion[0].id}')">Cerrar  <i class="far fa-times-circle"></i></a>
                </div>
                `;
            monicionAMostrar.appendChild(row);
    })
    .catch(error => console.log("Hubo un Error: " + error.message))
}

cargarMonicionElegida('17', "#monicionFestividadPatronal");
cargarMonicionElegida('3',"#monicionFestividadMariana");

function mostrar(id) {
    let elemento = document.getElementById(id);
    elemento.style.display = 'inline-block';
}

function cerrar(id) {
    let elemento = document.getElementById(id);
    elemento.style.display = 'none';
}

function cargarMonicionCarousel(id, idSelector, img){
    fetch(`http://localhost:7000/api/moniciones/${id}`, {method: 'GET'})
        .then(respuesta => {return respuesta.json()})//indicamos el formato en que se desea obtener la informacion
        .then(monicion => {
            let monicionAMostrar = document.querySelector(idSelector);
            const row = document.createElement("div");
                row.innerHTML += `
                  <a href="/moniciones/${monicion[0].id}?titulo=${monicion[0].titulo}&dia=${monicion[0].dia}&semana=${monicion[0].semana}&ciclo=${monicion[0].ciclo}&tiempo=${monicion[0].tiempo}" target="_blank"><img src="${img}" class="d-block w-100" alt="Monición del ${monicion[0].titulo} ${monicion[0].dia} de la Semana ${monicion[0].semana} del tiempo ${monicion[0].tiempo}- Moniciones Liturgicas.com"></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Monicion del ${monicion[0].titulo} ${monicion[0].dia} de la Semana ${monicion[0].semana} del tiempo ${monicion[0].tiempo} - Ciclo ${monicion[0].ciclo}</h5>
                    <a class="btn btn-light" href="/moniciones/${monicion[0].id}?titulo=${monicion[0].titulo}&dia=${monicion[0].dia}&semana=${monicion[0].semana}&ciclo=${monicion[0].ciclo}&tiempo=${monicion[0].tiempo}" target="_blank">Ver más <i class="fas fa-angle-double-right"></i></a>
                  </div>  
                    `;
                monicionAMostrar.appendChild(row);
        })
        .catch(error => console.log("Hubo un Error: " + error.message))
}
cargarMonicionCarousel('3', "#carousel1", "/images/Miercoles.jpg");
cargarMonicionCarousel('12', "#carousel2", "/images/Domingo.jpg");
cargarMonicionCarousel('13', "#carousel3", "/images/Viernes.jpg");

function cargarMonicionSyD(id, idSelector, img){
    fetch(`http://localhost:7000/api/moniciones/${id}`, {method: 'GET'})
        .then(respuesta => {return respuesta.json()})//indicamos el formato en que se desea obtener la informacion
        .then(monicion => {
            let monicionAMostrar = document.querySelector(idSelector);
            const row = document.createElement("tr");
                row.innerHTML += `
                <a href="/moniciones/${monicion[0].id}" target="_blank"><img src="${img}" class="card-img-top" alt="${monicion[0].titulo} ${monicion[0].dia} de la Semana ${monicion[0].semana} del tiempo ${monicion[0].tiempo} - MonicionesLitúrgicas.com"><a>
                    <div class="card-body">
                      <h5 class="card-title">Monicion del ${monicion[0].titulo} ${monicion[0].dia} de la Semana ${monicion[0].semana} del tiempo ${monicion[0].tiempo} - Ciclo ${monicion[0].ciclo}</h5>
                        <a class="btn btn-outline-secondary" href="/moniciones/${monicion[0].id}?titulo=${monicion[0].titulo}&ciclo=${monicion[0].ciclo}&tiempo=${monicion[0].tiempo}" target="_blank">Ver más <i class="fas fa-angle-double-right"></i></a>
                    </div>
                    `;
                monicionAMostrar.appendChild(row);
        })
        .catch(error => console.log("Hubo un Error: " + error.message))
}
cargarMonicionSyD('17', "#mDominical1", "/images/Sabado.jpg");
cargarMonicionSyD('18', "#mDominical2", "/images/Lunes.jpg");
cargarMonicionSyD('19', "#mDominical3", "/images/Miercoles.jpg");

</script>

<%- include ./layouts/social.ejs %>
<%- include ./layouts/pie.ejs %>