*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/*Buscador de contenido*/
#ctn-bars-search{
    i{
        display: inline;
        padding: 3px;
    }
}
#box-search{
    position: fixed;
    top: 61px;
    margin-left: 83%;
    transform: translateX(-50%);
    background: $blanco;
    z-index: 8;
    overflow: hidden;
    display: none;
    padding: 5px;
    border: 1px solid $negroOpaco;
    border-radius: 6px;
    li{
        text-align: start;
        a{
            display: block;
            color: $primary;
            padding: 4px 2px;
            text-decoration: none;
            :hover{
                background: $tercero;
            }
            i{
                margin-right: 5px;
                color: $primary;
            }
        }
    }
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content footer{
        max-width: 1000px;
        padding: 0 20px;
    }

}

@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}