/*Buscador de contenido*/
#ctn-bars-search{
    i{
        display: inline;
        padding: 3px;
    }
}
#box-search{
    position: fixed;
    top: 61px;
    left: 70%;
    background: $blanco;
    z-index: 8;
    overflow: hidden;
    display: none;
    padding: 5px;
    border: 1px solid $negroOpaco;
    border-radius: 6px;
    li{
        text-align: start;
        a{
            display: block;
            color: $primary;
            padding: 4px 2px;
            text-decoration: none;
            :hover{
                background: $tercero;
            }
            i{
                margin-right: 5px;
                color: $primary;
            }
        }
    }
}
