@mixin boton {
    cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	background: $blanco;
	color: $primary;
	font-size: 15px;
	border: 1px solid $primary;
	border-radius: 10px;
	margin: 10px;

    &:hover {
        opacity: .8;
    }
}

.boton {
	@include boton;
    i:hover {
        opacity: .8;
    }
}

@mixin boton2 {
    cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	background: $primary;
	color: $blanco;
	font-size: 15px;
	border: 1px solid $primary;
	border-radius: 10px;
	margin: 10px;

    &:hover {
		color: $blanco;
        opacity: .8;
    }
}

.boton2 {
	@include boton2;
    i:hover {
		opacity: .8;
    }
}
