.boton {
    cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	background: $negroOpaco;
	color: $blanco;
	font-size: 15px;
	border: 1px solid $negro;
	border-radius: 8px;
	margin: 10px;

    &:hover {
        opacity: .8;
		color: $negro;
		background: $blanco;
    }
}

.boton2 {
    cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	background: $primary;
	color: $blanco;
	font-size: 15px;
	border: 1px solid $primary;
	border-radius: 8px;
	margin: 10px;

    &:hover {
		opacity: .8;
		color: $primary;
		background: $blanco;
    }
}


