.sobreNosotros {
	margin: 30px auto;
	color: #000000;
	width: 80%;
	height: auto;
	background-color: #ffffffb9;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 15px;
	border: 1px solid #000000;
    h3 {
        font-size: 20px;
        padding: 15px;
        text-align: left;
        text-decoration: underline;
    }
    p{
        font-size: 18px;
        line-height : 30px;   
    }
}