/* Responsive Design */

/* PANTALLAS EXTRA ANCHAS */
@media(min-width: 1400px){

    body{
        font-size: 20px;
    }


    .showcase, .banner-One, .banner-two {
        width: 95%;
        margin: auto;
    }
    header, .footer {
        width: 100%;
        margin: auto;
    }
}

/* PANTALLAS MEDIANAS */
@media(max-width: 992px){

    nav, .showcase, .footer {
        width: 60%;
        margin: auto;
    }
}

/* PANTALLAS PEQUEÑAS */

@media(max-width:420px){

    
}